body {
	margin: 0;
	font-family: sans-serif;
}

table {
	margin: 0 auto;
}

a {
	margin: 10px;
}

td {
	text-align: center;
	padding: 10px;
	border-top: 10;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
